<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Traffic Flow</title>

  <!-- Lodash -->
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"
    integrity="sha256-VeNaFBVDhoX3H+gJ37DpT/nTuZTdjYro9yBruHjVmoQ=" crossorigin="anonymous"></script>

  <!-- Axios -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <!-- MapBox -->
  <script src='https://api.mapbox.com/mapbox-gl-js/v1.2.0/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v1.2.0/mapbox-gl.css' rel='stylesheet' />

  <!-- Leaflet -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
    integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
    crossorigin=""></script>

  <!-- FontAwesome -->
  <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">

  <!-- UTF-8 Library -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/utf8/3.0.0/utf8.min.js"></script>

  <!-- VueJS -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <!-- Vuetify -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@3.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

  <!-- Vue Multiselect -->
  <script src="https://unpkg.com/vue-multiselect@2.1.0"></script>
  <link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.1.0/dist/vue-multiselect.min.css">

  <!-- SCAT Locations Data -->
  <script src="./scat_locations.js"></script>
</head>

<style>
  html,
  body {
    overflow-y: hidden;
    position: relative;
  }

  /* General Tools */
  .top-space {
    margin-top: .5rem;
  }

  /* Major Components */
  .map {
    height: 100%;
    width: 100%;
    z-index: 10;
  }

  .search-box {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;

    margin-top: 1rem;
    margin-left: 1rem;
  }

  /* Selects */
  .select {
    width: 25rem;
    background-color: rgba(255, 255, 255, 0.6) !important;

    transition: background-color .1s;
  }

  .select:hover {
    background-color: rgba(255, 255, 255, 1) !important;

    transition: background-color .1s;
  }

  /* Transitions */
  .fade-enter-active,
  .fade-leave-active {
    transition: opacity .5s;
  }

  .fade-enter,
  .fade-leave-to

  /* .fade-leave-active below version 2.1.8 */
    {
    opacity: 0;
  }
</style>

<body>
  <div id="app">
    <v-app>
      <div class="map" id="mapid"></div>

      <div class="search-box">
        <multiselect class="select" v-model="search_origin" label="text" placeholder="From here" :options="to_options"
          @search-change="GeocodeFrom"></multiselect>

        <transition name="fade">
          <multiselect v-if="search_origin" class="select top-space" v-model="search_destination" label="text"
            placeholder="To here" :options="from_options" @search-change="GeocodeTo"></multiselect>
        </transition>
      </div>
    </v-app>
  </div>
  <script>
    Vue.component('multiselect', window.VueMultiselect.default);

    var app = new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      icons: {
        iconfont: 'fa',
      },
      mounted: function () {
        this.InitialiseMap();
      },
      data: {
        to_options: [],
        from_options: [],

        map: null,

        search_origin: '',
        search_destination: '',
      },
      watch: {
        search_origin: function () {
          // Add point to map
          L.marker([this.search_origin.geometry.coordinates[1], this.search_origin.geometry.coordinates[0]]).addTo(this.map);
        },
        search_destination: function () {
          L.marker([this.search_destination.geometry.coordinates[1], this.search_destination.geometry.coordinates[0]]).addTo(this.map);
        }
      },
      methods: {
        InitialiseMap: function () {
          this.map = L.map('mapid', { zoomControl: false }).setView([-37.8136, 144.9631], 10);

          // Initialise Map
          L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox.streets',
            accessToken: 'pk.eyJ1IjoiZGFuaWVsZmVyZ3Vzb24iLCJhIjoiY2pzeWhhYmVyMHBneTQ0cXgydXJoeDUxMCJ9.LD82Xcdk-WD3a5TMcvdwEg'
          }).addTo(this.map);

          // Create Points at SCAT Locations
          scat_locations.forEach(location => {
            L.marker(location).addTo(this.map);
          });
        },
        GenerateURL: function (query) {
          return "https://api.mapbox.com/geocoding/v5/mapbox.places/" + encodeURI(query) + ".json?access_token=pk.eyJ1IjoiZGFuaWVsZmVyZ3Vzb24iLCJhIjoiY2pzeWhhYmVyMHBneTQ0cXgydXJoeDUxMCJ9.LD82Xcdk-WD3a5TMcvdwEg";
        },
        GeocodeFrom: function (searchQuery, id) {
          if (searchQuery) {
            axios
              .get(this.GenerateURL(searchQuery))
              .then((response) => {
                this.to_options = response.data.features
              })
              .catch((error) => (console.log(error)))
          }
        },
        GeocodeTo: function (searchQuery, id) {
          if (searchQuery) {
            axios
              .get(this.GenerateURL(searchQuery))
              .then((response) => {
                this.from_options = response.data.features
              })
              .catch((error) => (console.log(error)))
          }
        }
      }
    })
  </script>
</body>

</html>