<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Traffic Flow</title>

  <!-- Lodash -->
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"
    integrity="sha256-VeNaFBVDhoX3H+gJ37DpT/nTuZTdjYro9yBruHjVmoQ=" crossorigin="anonymous"></script>

  <!-- Google Maps API -->

  <!-- MapBox -->
  <script src='https://api.mapbox.com/mapbox-gl-js/v1.2.0/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v1.2.0/mapbox-gl.css' rel='stylesheet' />

  <!-- Leaflet -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
    integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
    crossorigin=""></script>

  <!-- FontAwesome -->
  <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">

  <!-- VueJS -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <!-- Vuetify -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@3.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

  <!-- SCAT Locations Data -->
  <script src="./scat_locations.js"></script>
</head>

<style>
  #mapid {
    height: 600px;
  }

  .line-thru {
    text-decoration: line-through;
  }
</style>

<body>
  <div id="app">
    <v-app>
      <v-content>
        <v-container>
          <v-card max-width="600" class="mx-auto">
            <v-card-title>{{ message }}</v-card-title>
            <v-card-text>

              <v-divider></v-divider>
              <div class="title">Geocoding</div>
              <v-list>
                <v-list-item-group>
                  <v-list-item dense class="line-thru">Debouncing with Lodash</v-list-item>
                  <v-list-item dense>Geocoding hookup w/ Google API</v-list-item>
                  <v-list-item dense>Searchable geocoding to closest SCAT points</v-list-item>
                </v-list-item-group>
              </v-list>

              <div class="title line-thru">Mapping</div>
              <v-list>
                <v-list-item-group>
                  <v-list-item dense class="line-thru">Getting Leaflet w/ OpenStreetMap/MapBox setup</v-list-item>
                  <v-list-item dense class="line-thru">Getting Leaflet displaying all of the SCAT points</v-list-item>
                </v-list-item-group>
              </v-list>

              <div class="title">Machine Learning / Tensorflow</div>
              <v-list>
                <v-list-item-group>
                  <v-list-item dense>Learning ML / different training models</v-list-item>
                </v-list-item-group>
              </v-list>

              <div class="title">Misc</div>
              <v-list>
                <v-list-item-group>
                  <v-list-item dense>Dykstras algorithm for finding 5 routes</v-list-item>
                  <v-list-item dense>Highlighting points / routes on the map</v-list-item>
                </v-list-item-group>
              </v-list>

            </v-card-text>
          </v-card>
        </v-container>

        <v-container>
          <v-card max-width="600" class="mx-auto">
            <v-card-title>Debouncing & Geocoding</v-card-title>
            <v-card-text>

              <div class="title">Origin</div>
              <div class="caption" v-if="debounced_origin">Debounced: {{ debounced_origin }}</div>
              <v-text-field v-model="search_origin" label="Origin"></v-text-field>

              <!-- <v-divider></v-divider> -->

              <div class="title">Destination</div>
              <div class="caption" v-if="debounced_destination">Debounced: {{ debounced_destination }}</div>
              <v-text-field v-model="search_destination" label="Destination"></v-text-field>
            </v-card-text>
          </v-card>
        </v-container>

        <v-container>
          <v-card max-width="600" class="mx-auto">
            <div id="mapid"></div>
          </v-card>
        </v-container>

      </v-content>
    </v-app>
  </div>
</body>

<script>
  var app = new Vue({
    el: '#app',
    vuetify: new Vuetify(),
    icons: {
      iconfont: 'fa',
    },
    mounted: function () {
      // Initialise Map
      var mymap = L.map('mapid').setView([-37.8136, 144.9631], 10);
      L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox.streets',
        accessToken: 'pk.eyJ1IjoiZGFuaWVsZmVyZ3Vzb24iLCJhIjoiY2pzeWhhYmVyMHBneTQ0cXgydXJoeDUxMCJ9.LD82Xcdk-WD3a5TMcvdwEg'
      }).addTo(mymap);

      // Create Points at SCAT Locations
      scat_locations.forEach(location => {
        L.marker(location).addTo(mymap);
      });
    },
    data: {
      message: 'Hello Vue!',
      search_origin: '',
      search_destination: '',
      debounced_origin: '',
      debounced_destination: ''
    },
    watch: {
      search_origin: function () {
        this.SearchOrigin()
      },
      search_destination: function () {
        this.SearchDestination()
      }
    },
    methods: {
      // Do something every quarter of a second, maximum
      SearchOrigin: _.throttle(function () {
        this.debounced_origin = this.search_origin;
      }, 250),
      SearchDestination: _.throttle(function () {
        this.debounced_destination = this.search_destination;
      }, 250),
    }
  })
</script>

</html>